.image-grid__wrapper {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  .image-grid__item {
    flex-grow: 0;

    width: 320px;
    height: 320px;

    margin: 10px;

    background-size: 180%;

    background-position-x: 0px;
    background-position-y: 0px;
  }
}
