.image-grid__wrapper {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  .image-grid__item {
    width: 320px;
    height: 320px;
    flex-grow: 1;

    box-sizing: border-box;
    margin: 10px;

    // border: 8px solid $white;
    // transition: border-width 400ms ease;
    // &:hover {
    //   border-width: 1px;
    // }

    background-size: auto 160%;
    background-position-x: 0px;
    background-position-y: 0px;

    position: relative;

    .meta__wrapper {
      position: absolute;
      top: 0; bottom: 0;
      left: 0;
      // width: 50%;
      padding: 10px;

      background-color: rgba($green, 0.8);
      color: $white;
    }
  }

  .image-grid__item--wide {
    flex-grow: 2;
    width: 600px;

  }
}
