extends layout

block topcontent
  - let heroImage = images[0]
  include partials/jumbotron

block content

  .image-grid__wrapper
    each image in images
      a.image-grid__item(
        href='/image/' + image.storageId
        style={ 'background-image': 'url(' + image.urls.thumb + ')' }
      )

  script.
    function parallax() {
      var scrolled = $(window).scrollTop();
      $('.image-grid__item').css('background-position-y', -(scrolled * 0.1) + 'px');
    }

    $(window).scroll(function(event) {
      parallax();
    });
