.footer__wrapper
  .footer__column
    h3.footer__title Kajaaniskate.net
    p Kysymyksiä? #[a(href='mailto:miro@kajaaniskate.net') miro@kajaaniskate.net]
    p Kehitystä tukemassa #[a(href='http://spiceprogram.org') Spice Program]

    a(href='http://spiceprogram.org')
      img#chilicorn--logo(
        src='https://raw.githubusercontent.com/futurice/spiceprogram/gh-pages/assets/img/logo/chilicorn_no_text-64.png'
        alt='Chilicorn!'
      )


  .footer__column
    h3.footer__title--placeholder &nbsp;

    p &copy; 2014-2016 #[a(href='https://github.com/miro/dakdak-showcase/blob/development/LICENSE') Jotkut oikeudet pidätetään]
    p #[a(href='https://github.com/miro/dakdak-showcase') Haarukoi koodit #[i.icon-github]]
